body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.items{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.remove-btn{
  margin-right: 2rem;
}

.fade-enter{
  opacity: 0.01;
}

.fade-enter-active{
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit{
  opacity: 1;
}

.fade-exit-active{
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}